# App
test.php
test.html
test*.php
test*.html
#var/
#a/

# Eclipse
.buildpath
.project
.cproject
.settings/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/*.tags
/*.tags_sorted_by_file
/readme.txt
